@font-face {
    font-family: 'fonartoregular';
    src: url('fonarto-webfont.eot');
    src: url('fonarto-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonarto-webfont.woff2') format('woff2'),
         url('fonarto-webfont.woff') format('woff'),
         url('fonarto-webfont.svg#fonartoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
