<div class="banner" style="background-image: url('images/background/bgmin.jpg');">
  <div class="banner-content">
    <h1>health'eat</h1>
    <p>more than a leaf</p>
    <div class="text-center"> <p><a class="btncommander btn-secondary btn-lg scroll" href="#scrollcommand">Commander</a></p> </div>
  </div>
</div>
