  <!-- <div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.33)), url('images/background/bg-hero.jpg');,">
  <div class="banner-content">
    <h1>health'eat</h1>
    <p>La solution fraîcheur et rapidité pour tes déjeuners</p>
    <div class="text-center"> <p><a class="btncommander btn-secondary btn-lg scroll" href="#menu" style='text-decoration:none;'>Commander</a></p> </div>
  </div>
</div>

 -->

<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.33)), url('images/background/bg-hero.jpg');,">
  <div class="banner-content">
  <div class="loadpageleft">
    <h1>health'eat</h1>
    <p>La solution fraîcheur et rapidité pour tes déjeuners</p>
    </div>
    <div class="text-center loadpageright"> <p><a class="btncommander btn-secondary btn-lg scroll" href="#menu" style='text-decoration:none;'>Commander</a></p> </div>
  </div>
</div>

