<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.33)), url('images/background/bgmin.jpg');,">
  <div class="banner-content">
    <h1>health'eat</h1>
    <p>healthy food factory pour les étudiants par les étudiants</p>
    <div class="text-center"> <p><a class="btncommander btn-secondary btn-lg scroll" href="#menu">Commander</a></p> </div>
  </div>
</div>
