   <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="badge-container">
        <img src="/./images/products/eau.jpg" alt="user" class="avatar cardwater img-circle" width="200px">
               <button
             class="snipcart-add-item snipcardbutton btnwater"
              data-item-id="5"
              data-item-name="Eau"
              data-item-price="1"
              data-item-weight="300"
              data-item-url="https://www.behealtheat.com/"
              data-item-description="Eau locale des Abatilles ">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
 </div>
</div>







<!-- <div class="snipcart-summary btn btn-primary">
    <a href="#" class="snipcart-user-email snipcart-user-profile">
        Connectez-vous
    </a>
</div> -->


