   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card card-1 cardwater">
                  <img class="card-img-top" src="/./images/products/abatilles.png" width="200px">
                  <div class="card-block">
                    <h4 class="card-title text-center">Eau locale des Abatilles</h4> <p class="text-center"> 1.00 €</p>
                    <p class="card-text text-center">

           <button
             class="snipcart-add-item snipcardbutton btnwater"
              data-item-id="5"
              data-item-name="Eau"
              data-item-price="1"
              data-item-weight="300"
              data-item-url="https://www.behealtheat.com/"
              data-item-description="Eau locale des Abatilles 50cl ">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
   </div>
  </div>

 </div>
</div>






<!-- <div class="snipcart-summary btn btn-primary">
    <a href="#" class="snipcart-user-email snipcart-user-profile">
        Connectez-vous
    </a>
</div> -->


