<div class="vertical-spacer">
  <div class="container alignlogo">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="imageicones"><img src="images/icones/fruitsicone.png" class= "fadeleft" width="150px"></div>
            <div class="paragraphe">
            <p>
              Du frais et fait maison maison chaque lundi, mardi et mercredi
            </p>
          </div>
         </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="imageicones"><img src="images/icones/localisation.png" class= "fadeleft" width="110px"></div>
           <div class="paragraphe"><p>
            Commandez avant 11h30, nous vous livrons à l'entrée de notre campus
            </p></div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones">
          <img src="images/icones/creditcard.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe"><p>
          Pas de monnaie ? Nous non plus, payez avec <strong>Snipcard</strong>. Facile, clair et sécurisé !
        </p></div>
     </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones">
          <img src="images/icones/creditcard.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe"><p>
          Pas de monnaie ? Nous non plus, payez avec <strong>Snipcard</strong>. Facile, clair et sécurisé !</p></div>
     </div>

    </div>

  </div>
</div>









