<div class="vertical-spacer">
  <div class="container alignlogo">
    <div class="row">

    <div class='intro'>
      <div class='col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4'>
      <h2>Bienvenue à la <strong>maison</strong></h2>
          <p>Profiter de sa pause déjeuner ?</p>
          <p>Bien manger à petits prix ?</p>
          <p>Adopter une healthy lifestyle ? (lol)</p>
      </div>
    </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="imageicones"><img src="images/icones/hypster.png" class= "fadeleft" width="150px"></div>
            <div class="paragraphe">
            <h3>Be health'eat</h3>
            <p>
            Du frais et fait maison chaque lundi, mardi et mercredi.
            </p>
          </div>
         </div>


        <div class="col-xs-12 col-sm-6 col-md-6" id="shop">
          <div class="imageicones"><img src="images/icones/toque.png" class= "fadeleft" width="150px"></div>
           <div class="paragraphe">

           <h3>Shop</h3>
           <p>
            Choisissez nos produits recommandés par le chef Pierre Hermé (Nan on déconne mais ils sont bons).
            </p></div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones">
          <img src="images/icones/creditcard.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe">

         <h3>No cash?</h3>
         <p>
          Nous non plus, payez avec <strong>Snipcard</strong>. Facile, clair et sécurisé !
        </p></div>
     </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones">
          <img src="images/icones/localisation.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe">

         <h3>Near you</h3>
         <p>
          Commandez avant 11h30, nous vous livrons à l'entrée de notre campus.</p>
        </div>
     </div>

    </div>

  </div>
</div>









