<div class="vertical-spacer">
  <div class="container alignlogo">
    <div class="row">

    <div class='intro text-center'>
      <div class='col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4'>
      <h2>Bienvenue à la <strong>maison</strong></h2>
          <p>“Tout a commencé il y a quelques mois dans la file d’attente de la cafet’</p>
          <p>On attend, on se regarde et on se pose la même question : et si on proposait quelque chose d'innovant ? </p>
          <p>Ensemble, nous décidons de nous lancer dans l’aventure Health’eat.” </p>
      </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="imageicones text-center">
            <img src="images/icones/hypster.png" class= "fadeleft" width="150px">
          </div>
          <div class="paragraphe">
            <h3>Be health'eat</h3>
            <p>
             Service de livraison étudiant chaque lundi, mardi et mercredi
            </p>
          </div>
         </div>


        <div class="col-xs-12 col-sm-6 col-md-6" id="shop">
          <div class="imageicones text-center">
            <img src="images/icones/toque.png" class= "fadeleft" width="150px">
          </div>
           <div class="paragraphe">

           <h3>Menu</h3>
           <p>
            Des plats variés et faits maison, préparés le matin même avec le plus grand soin
            </p></div>
        </div>
    </div>




    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones text-center">
          <img src="images/icones/creditcard.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe">

         <h3>No cash?</h3>
         <p>
          Nous non plus, payez par carte grâce à <strong>Snipcart</strong>, simple et sécurisé !
        </p></div>
     </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones text-center">
          <img src="images/icones/localisation.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe">

         <h3>Near you</h3>
         <p>
           Commandez jusqu’à 11h30, nous vous livrons à l’entrée de votre campus entre 12h15 et 13h30</p>
        </div>
     </div>

    </div>

  </div>
</div>








