<div class="vertical-spacer">
  <div class="container alignlogo">
    <div class="row">

    <div class='intro'>
      <div class='col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4'>
          <h2>Welcome to Healtheat</h2>
          <p>We like to say we are passionate about good food and tech!</p>
          <p>We decide to create something that can matters for our customers.</p>
          <p>After few months of thinkings we are pleased to present you health'eat, a project made by love.</p>
      </div>
    </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="imageicones"><img src="images/icones/fruitsicone.png" class= "fadeleft" width="150px"></div>
            <div class="paragraphe">
            <h3>Health</h3>
            <p>
              Du frais et fait maison chaque lundi, mardi et mercredi.
            </p>
          </div>
         </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="imageicones"><img src="images/icones/creditcard.png" class= "fadeleft" width="110px"></div>
           <div class="paragraphe">

           <h3>shop</h3>
           <p>
            Choisissez parmi nos deux salades faites par nos soins et parmi nos quatre smoothies recommandés par Pierre Hermé (Nan on déconne mais ils sont bons).
            </p></div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones">
          <img src="images/icones/creditcard.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe">

         <h3>No cash?</h3>
         <p>
          Nous non plus, payez avec <strong>Snipcard</strong>. Facile, clair et sécurisé !
        </p></div>
     </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="imageicones">
          <img src="images/icones/localisation.png" class= "hello" width="150px">
        </div>
         <div class="paragraphe">

         <h3>Near you</h3>
         <p>
          Commandez avant 11h30, nous vous livrons à l'entrée de notre campus.</p>
        </div>
     </div>

    </div>

  </div>
</div>









