<div id='contact'>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="adress">
            <h3>Adresse</h3>
            <p>2 place Camille Pelletan</p>
            <p>33000</p>
            <p>Bordeaux</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="contact">
            <h3>Contact</h3>
            <p>06 59 78 52 62</p>
            <p>06 07 64 55 45</p>
            <p>24h/24</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="assistance">
            <h3>Health'eat SAS</h3>
            <p>Tous droit réservés</p>
            <p>N'hésitez pas à nous donner votre avis</p>
            <p>contact@behealtheat.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
