<div id='contact'>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="adress">
            <h3>Suivez-nous</h3>
          <a href= "https://www.facebook.com/healtheatbdx"><i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href= "https://www.instagram.com/healtheatbdx/"><i class="fa fa-instagram" aria-hidden="true"></i>
           </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="contact">
            <h3>Contact</h3>
            <p>06 59 78 52 62</p>
            <p>06 07 64 55 45</p>
            <p>24h/24</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="assistance">
            <h3>Health'eat SAS</h3>
            <p>Tous droits réservés</p>
            <p>N'hésitez pas à nous donner votre avis</p>
            <p><a href="mailto:contact@behealtheat.com">contact@behealtheat.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

