<div id='contact'>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="adress">
            <h3>Suivez-nous</h3>
          <% link_to "https://www.facebook.com/healtheatbdx" , :target => "_blank" do %> <i class="ss-facebook socialicones ss-icon ss-icon ss-social-circle" aria-hidden="true"></i>
          </a> <% end %>
          <% link_to "https://www.instagram.com/healtheatbdx" , :target => "_blank" do %> <i class="ss-instagram socialicones ss-icon ss-icon ss-social-circle" aria-hidden="true"></i>
           </a> <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="contact">
            <h3>Contact</h3>
            <p><a href="mailto:contact@behealtheat.com">contact@behealtheat.com</a></p>
            <p>N'hésitez pas à nous donner votre avis</p>
            <p>24h/24</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="assistance">
            <h3>Health'eat SAS</h3>
            <p>Tous droits réservés</p>
            <p> <% link_to "/CGV.html" do %> CGV<% end %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

