<div class="ourjob img-responsive" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.33)), url('images/background/marketplace.jpg');">
<div class="ourjob-content">
 <div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
     <h2>Nos engagements</h2>
     <div class="pp">
      <p>Tous nos produits sont de saisons</p>
      <p>Travailler avec des producteurs locaux</p>
      <p>Vous faire découvrir la healthy food</p>
      <p>Améliorer vos lendemains d'OB</p>
        </div></div>
   </div>
  </div>
 </div>
</div>
