<div class="ourjob img-responsive" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.33)), url('images/background/marketplace.jpg');">
<div class="ourjob-content">
 <div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
     <h2>Nos engagements</h2>
     <div class="pp">
      <p>Vous offrir un service de qualité à prix abordable en vous proposant des recettes innovantes
élaborées à partir de produits frais</p>
<p>Véritables remèdes pour vos lendemains de soirées, nos
produits sauront vous satisfaire !</p>
        </div></div>
   </div>
  </div>
 </div>
</div>
