<div class="ourjob" style="background-image: url('images/background/marketplace.jpg');">
  <div class="ourjob-content">
    <h2>Nos engagements</h2>
    <p>Tous nos produits sont de saisons</p>
    <p>Nous travaillons avec des producteurs locaux</p>
    <p>Vous faire découvrir la healthy food</p>
  </div>
</div>
