 <div class="saladebackground">
  <div class="container">
  <div class="row">
    <div class="text-center padded salades" id="menu">
      <h1> Les salades</h1>

     <div class="card">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class='salad-component'>

          <%= image_tag 'products/saladeune.jpg', width: '250px', class: 'img-circle img-salad' %>

            <h2>Brigitte</h2>

            <%= partial 'partials/snipcard-buttons/button_1' %>
       </div>
      </div>
    </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class='salad-component'>

          <%= image_tag 'products/saladedeux.jpg', width: '250px', class: 'img-circle img-salad' %>

            <h2>Pasquale</h2>

            <%= partial 'partials/snipcard-buttons/button_2' %>

        </div>
      </div>


    </div>
  </div>
 </div>
</div>
