<div class="container">
  <div class="row">
    <div class="text-center padded salades" id="scrollcommand">
      <h1> Les salades</h1>


      <div class="col-xs-12 col-sm-6 col-md-6">

      <%= image_tag 'products/saladeune.jpg', width: '250px', class: 'img-circle' %>

        <h2>La classique</h2>

        <%= partial 'partials/snipcard-buttons/button_1' %>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">

      <%= image_tag 'products/saladedeux.jpg', width: '250px', class: 'img-circle' %>

        <h2>l'Originale</h2>

        <%= partial 'partials/snipcard-buttons/button_2' %>

      </div>


    </div>
  </div>
</div>
