 <div class="saladebackground">
  <div class="saladebackground-content">
   <div class="container">
    <div class="row">
      <div class="salades clearfix" id="menu">
        <h1 class="text-center">Les salades</h1>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class='salad-component'>
              <div class="card card-1">
                <img class="card-img-top img-responsive" src="/./images/products/brigitte.png">
                <div class="card-block">
                  <h2 class="card-title text-center">La Brigitte</h2>
                  <p class="card-text text-center">Gracieuse et séduisante salade de quinoa !</p><p class="text-center sauce"> Accompagnée de sa sauce au miel</p> <p class="text-center">4.80 €</p>
                  <%= partial 'partials/snipcard-buttons/button_1' %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class='salad-component'>
              <div class="card card-1">
                <img class="card-img-top img-responsive" src="/./images/products/pasquale.png">
                <div class="card-block">
                  <h2 class="card-title text-center">La Pasquale</h2>
                  <p class="card-text text-center">Gourmande salade de pâtes à l’italienne !</p> <p class="text-center sauce"> Accompagnée de sa sauce au vinaigre balsamique</p><p class="text-center"> 4.2O €</p>
                  <%= partial 'partials/snipcard-buttons/button_2' %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
 </div>
</div>
</div>



