<div class="soupebackground">
  <div class="container">
  <div class="row">
    <div class="text-center padded soupe">
      <h1> Le velouté</h1>

    <div class= "center-block">

      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class='soupe-component'>
        <div class="card card-1" style="width: 40rem;">

        <img class="card-img-top saladsize" src="/./images/products/soupe.jpg">
            <div class="card-block">

            <h2 class="card-title">Gustave</h2>
            <p class="card-text">Du reve ou du quinoa ? Telle est la question, cette salade est pourtant bien réelle, son avocat réveillera vos papilles</p>

            <%= partial 'partials/snipcard-buttons/button_4' %>

          </div>
          </div>
       </div>
      </div>
    </div>
   </div>
  </div>
</div>
</div>
