<button
  class="snipcart-add-item snipcardbutton snipcard"
  data-item-id="1"
  data-item-name="Brigitte"
  data-item-price="4.80"
  data-item-weight="300"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Quinoa Avocat Patates douce Abicots sec">
  <i class="fa fa-plus" aria-hidden="true"></i>Ajouter
</button>
