<button
  class="snipcart-add-item snipcardbutton"
  data-item-id="4"
  data-item-name="Tyrrell's Crisps"
  data-item-price="1.50"
  data-item-weight="40"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Chips betterave, panais, carotte, sel de mer"
  data-item-custom1-name="Eau locale les abatilles, 50 cl (+0,8 euro)"
  data-item-custom1-options="Non|Oui [+0.80]">
  <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
</button>
