<button
  class="snipcart-add-item snipcardbutton snipcard"
  data-item-id="1"
  data-item-name="La classique"
  data-item-price="3.00"
  data-item-weight="20"
  data-item-url="/"
  data-item-description="Some fresh salade">Ajouter
</button>
