<button
  class="snipcart-add-item snipcardbutton snipcard.snipcardbutton"
  data-item-id="1"
  data-item-name="Brigitte"
  data-item-price="4.80"
  data-item-weight="300"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Salade: quinoa, patate douce, avocat, abricot sec, graines de courge, roquette, échalote. Sauce: ciboulette, huile de colza, miel, moutarde">
  <i class="fa fa-plus" aria-hidden="true"></i>Ajouter
</button>
