<button
  class="snipcart-add-item snipcardbutton snipcard.snipcardbutton"
  data-item-id="1"
  data-item-name="Léon"
  data-item-price="4.80"
  data-item-weight="300"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Bagel: Pain frais, aubergine, cream cheese, jambon de dinde, oignons frits, cornichons"
  data-item-custom1-name="Eau locale les abatilles, 50 cl (+0,8 euro)"
  data-item-custom1-options="Non|Oui [+0.80]">
  <i class="fa fa-plus" aria-hidden="true"></i>Ajouter
</button>
