<button
  class="snipcart-add-item snipcardbutton"
  data-item-id="6"
  data-item-name="Penelope"
  data-item-price="4.70"
  data-item-weight="350"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Salade: pâtes, jambon de parme, pesto maison, tomates séchées, mozzarella, citron"
  data-item-custom1-name="Eau locale les abatilles, 50 cl (+0,8 euro)"
  data-item-custom1-options="Non|Oui [+0.80]">
   <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
</button>

