<button
  class="snipcart-add-item snipcardbutton"
  data-item-id="4"
  data-item-name="Smoothie violet"
  data-item-price="3.00"
  data-item-weight="20"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Some fresh smoothie rouge">
  <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
</button>
