<button
  class="snipcart-add-item snipcardbutton"
  data-item-id="2"
  data-item-name="L'originale"
  data-item-price="3.00"
  data-item-weight="20"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Some fresh salade"> Ajouter
</button>

