<button
  class="snipcart-add-item snipcardbutton"
  data-item-id="6"
  data-item-name="Smoothie jaune"
  data-item-price="3.00"
  data-item-weight="20"
  data-item-url="http://myapp.com/products/bacon"
  data-item-description="Some fresh smoothie rouge"> Ajouter
</button>
