<button
  class="snipcart-add-item snipcardbutton"
  data-item-id="2"
  data-item-name="Pasquale"
  data-item-price="4.30"
  data-item-weight="300"
  data-item-url="https://www.behealtheat.com/"
  data-item-description="Pâtes, jambon cru fumé, feta, courgettes, tomates">
   <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
</button>

