.btn-secondary  {
  color: white;
  padding: 10px 15px;
  border-radius: 1px;
  font-weight: bold;
  border: 1px solid white;
  transition: background 0.3s ease;
  border: 1px solid white;
  font-size: 25px;
}

.btn-secondary:hover {
  background-color: $green;
}

// bouton panier
.btn-primary {
  color: white;
  border: 1px solid white;
  transition: background 0.3s ease;
  font-size: 15px;
}
.btn-primary a {
  color: white;
}
.btn-primary:hover {
  background-color: $green;
}
// fin bouton panier


.snipcardbutton {
  color: $healthygreen;
  background: transparent;
  font-size: 20px;
  transition: background 0.3s ease;
  border: 1px solid $healthygreen;
  border-radius: 3px;
}

.snipcardbutton:hover {
  background-color: $blue;
}

.buttonsmoothie {
  margin-top: 20px;
}
