// <-- bouton commander -->
.btncommander {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  border: 3px solid white;
  transition: background 0.3s ease;
  font-size: 30px;
}
.btncommander:hover {
  background-color: $green;
  color: white;
}
.btncommander:link {
  text-decoration: none;
}
.btncommander:visited {
    text-decoration: none;
}
.btncommander:active {
    text-decoration: none;
}
// <--fin bouton commander -->


// <-- bouton panier-->
.btnpanier {
  color: white;
  border: 2px solid white;
  transition: background 0.3s ease;
  font-size: 35px;
  font-weight: bold;
}

.btnpanier:hover {
  background-color: $green;
}
// <-- fin bouton panier -->



.snipcardbutton {
  color: $healthygreen;
  background: transparent;
  font-size: 20px;
  transition: background 0.3s ease;
  border: 1px solid $healthygreen;
  border-radius: 3px;
  font-family: $my-font;
  margin-bottom: 50px;
}

.snipcardbutton:hover {
  background-color: $green;
  text-decoration: none;
  color: white;
}
// .snipcardbutton .fa-plus {
//   color:$healthygreen;
//  }

// .snipcardbutton .fa-plus:hover {
//   color:white;
//  }




