.footer {
  background-color: $healthygreen;
  height: 200px;
}

.footer p {
  font-size: 20px;
}


/* -------------------------------------
 * footer media queries
 * ------------------------------------- */

@media screen and (max-width: 768px) {
  .footer {
    width: 100vh;
    height: 600px;
    background-size: cover !important;
  }
}

