.footer {
  background-color: #FFF;
  height: 150px;
}
.socialicones {
 font-family: $fontsocial
}
.footer p {
  font-size: 10px;
}

.footer i{
  padding:10px;
  font-size: 40px;
  position: relative;
  text-decoration: none;
  background: #F7F7F7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.footer a {
  text-decoration: none;
}
.footer i{
  color:white;
}
.fa-facebook:hover {
  color: $healthygreen;
}
.fa-instagram:hover {
  color: $healthygreen;
}




.assistance h3 {
  font-size: 15px;
}
.assistance a {
  color: #333333 ;
}

  .assistance a:hover {
    color: $healthygreen;
  }


.contact a {
  color: #333333 ;
}
.contact p {
  font-size: 15px;
}

.ml {
  text-align: center;
  background-color: #F7F7F7;
  padding-bottom: 50px;

h2,h3,h4 {
    color: $healthygreen;
 }
}
/* -------------------------------------
 * footer media queries
 * ------------------------------------- */

@media screen and (max-width: 768px) {
  .footer {
    height: 500px;
    background-size: cover !important;
  }
}

