.intro {
  background: #FADDE3 ;
  background-attachment: fixed;
  text-align: center;
}
.imageicones {
  margin-top: 50px;
  justify-content: center;
}
#shop {
  padding-top: 40px;
}
.paragraphe {
  width: 75%;
  text-align: center;
  margin: 0 auto;

  p {
    color: black;
    font-size: 20px;
  }
}

.backgroundicones {
  background-color: white;
  padding-top: 100px;
}

@media (max-width: 480px) {
  .imageicones img {
    width: 100px;
    justify-content: center;
  }
  .backgroundicones {
    width: auto;
    justify-content: center;
    // padding-left: 30px;
  }
}
