.intro {
  height: 70vh;
  background-attachment: fixed;
}
.imageicones {
  padding-left: 27%;
}

.paragraphe {
  width: 75%;
  padding-left: 10%;
  p {
  color: black;
  font-size: 20px;
  }
}

.backgroundicones {
  background-color: white;
  padding-top: 150px;
}

@media (max-width: 480px) {
  .imageicones img {
    width: 80px;
  }
  .backgroundicones {
    width: auto;
    justify-content: center;
    padding-left: 30px;
  }
}
