.btnmodal {
  color: #01CDA4;
  background: transparent;
  border-color: transparent;
  margin-left: 30px;
  margin-top: 20px;
  text-decoration: none;
  outline: 0;
}

.btnmodal:hover {
  color: $scandal ;
  background:transparent;
  border-color: transparent;
  text-decoration: none;
}




.modal-body p {
  font-family: $my-font;
}


.modal-content {
  background-color: #1ABC9C;

}
.modal-title {
  color: white;
}
