.saladebackground {
  background: #F7F7F7;
}

.salad-component {
  margin-bottom: 3rem;
}
.salades h1 {
  color: $healthygreen;
  font-size: 70px;
  margin-bottom: 7rem;
}

.hoverbrigitte {
position:relative;
visibility:hidden;
}

.hoverbrigitte:hover .text {
visibility:visible;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;

}
.card-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.centersalade {
  margin: auto;
  float: none;
}


@media (max-width: 480px) {
  .salades h1 {
    font-size: 50px;
  }
  .img-salad {
    width: 200px;
  }
}
