.saladebackground {
  background: #F7F7F7;
}

.salad-component {
  margin-bottom: 3rem;
}
.salades h1 {
  color: $healthygreen;
  font-size: 70px;
  margin-bottom: 7rem;
}

.hoverbrigitte {
position:relative;
visibility:hidden;
}

.hoverbrigitte:hover .text {
visibility:visible;
}



@media (max-width: 480px) {
  .salades h1 {
    font-size: 50px;
  }
  .img-salad {
    width: 200px;
  }
}
