.smoothies {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  h1 {
    color: $healthygreen;
    font-size: 70px;
    margin-bottom: 7rem;
  }
  h2 {
    font-size: 25px;
    white-space: nowrap;
   }
}
.smoothies-down {
  margin-bottom: 7rem;
}

@media (max-width: 480px) {
  .smoothies h1 {
    font-size: 50px;
  }
}
