---
Le concept
___


        <div class="container text-center">
          <div class="row text-center">
            <div class="col-sm-6 col-md-3 col-xs-12 feature">
            <img src="images/icones/fruitsicone.png" width="115px">
              <p>
                Choisissez parmi nos 4 produits phares du moment !
                Nos fruits et légumes sont évidement <strong>frais </strong> et la préparation est maison.
              </p>
            </div>

            <div class="col-sm-6 col-md-3 col-xs-12 feature">
              <img src="images/icones/place.png" width="96px">
              <p>
                L'équipe vous livre tous les midis de 12h à 13h30 sous le parvis de <strong>Kedge</strong>. On aura la pêche, la banane, la patate et cerise sur le gateau, absolument pas le melon !
              </p>
            </div>

            <div class="col-sm-6 col-md-3 col-xs-12 feature">
              <img src="images/icones/bike.png" width="96px">
              <p>
                Parcequ'on vit dans un corps et un esprit sains, nous venons avec notre vélo magique, à la force de nos petites jambes, vos commandes seront <strong>préparées juste à temps</strong>.
              </p>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 feature">
              <img src="images/icones/cash.png" width="96px">
              <p>
                Pas de monnaie ? Pas de problème, nous non plus, payez avec <strong>Lydia</strong>
                et votre commande sera débitée sur votre carte bancaire.
              </p>
            </div>
          </div>
        </div>
