
 <div id= "wrapper">
  <div class="banner">
   <div class="container">
    <div class="lead text-center" style="background-image: url('images/backgroundhe1.jpg');">
      <div class="banner-content">
        <h1>health'eat</h1>
        <h2>Mangez frais, mangez bien, mangez sain</h2>
      </div>
   </div>
  </div>
  </div>
</div>


  <div class="backgroundicones">
    <div class="vertical-spacer">
     <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-12 feature">
         <img src="images/icones/fruitsicone.png" width="115px">
          <p>
            Choisissez parmi nos 4 produits phares du moment !
            Nos fruits et légumes sont évidement <strong>frais </strong> et la préparation est maison.
          </p>
        </div>

        <div class="col-sm-3 col-md-3 col-xs-12 feature">
          <img src="images/icones/place.png" width="96px">
          <p>
            L'équipe vous livre tous les midis de 12h à 13h30 sous le parvis de <strong>Kedge</strong>. On aura la pêche, la banane, la patate et cerise sur le gateau, absolument pas le melon !
          </p>
        </div>

        <div class="col-sm-3 col-md-3 col-xs-12 feature">
          <img src="images/icones/bike.png" width="96px">
          <p>
            Parcequ'on vit dans un corps et un esprit sains, nous venons avec notre vélo magique, à la force de nos petites jambes, vos commandes seront <strong>préparées juste à temps</strong>.
          </p>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-12 feature">
          <img src="images/icones/cash.png" width="96px">
          <p>
            Pas de monnaie ? Pas de problème, nous non plus, payez avec <strong>Lydia</strong>
            et votre commande sera débitée sur votre carte bancaire.
          </p>
        </div>
      </div>
    </div>
  </div>

 <div class="container">
  <div class="row">
      <div class="text-center padded">
        <h1> Nos salades</h1>
          <ul class="list-inline">
            <div class="col-xs-12 col-sm-6">
             <li>
                <img src="http://placehold.it/200" alt="" class="img-circle"">
                <h3>La classique</h3>
             </div>
            </li>
            <div class="col-xs-12 col-sm-6">
             <li>
                <img src="http://placehold.it/200" alt="" class=" img-circle"">
               <h3>L'originale</h3>
            </div>
            </li>
         </ul>
      </div>
     </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="text-center padded">
    <h1> Nos smoothies</h1>
      <ul class="list-inline">
      <div class="col-xs-12 col-sm-3">
        <li>
          <img src="http://placehold.it/200" alt="" class="img-circle"">
          <h3>Le mange graisse</h3>
        </li>
      </div>
      <div class="col-xs-12 col-sm-3">
        <li>
          <img src="http://placehold.it/200" alt="" class=" img-circle"">
          <h3>Le shotgun</h3>
        </li>
      </div>
      <div class="col-xs-12 col-sm-3">
        <li>
          <img src="http://placehold.it/200" alt="" class=" img-circle"">
          <h3>Le body challenge</h3>
      </div>
      <div class="col-xs-12 col-sm-3">
        </li>
        <li>
          <img src="http://placehold.it/200" alt="" class=" img-circle"">
          <h3>le nique sa mère l'administration</h3>
        </div>
        </li>
    </ul>
  </div>
</div>

<div class="text-center"> <p><a href="menu.html" class="btn-treehouse"> Commandez</a></p> </div>




 <div class="container">
  <div class="row">
  <div class="text-center padded">
    <h1> L'équipe Health'eat</h1>
      <ul class="list-inline">

            <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-1">
                <div class="ch-info">
                  <h3>Hugo</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-2">
                <div class="ch-info">
                  <h3>Marvin</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-3">
                <div class="ch-info">
                  <h3>Hugo</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-4">
                <div class="ch-info">
                  <h3>Luc</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
      </ul>



  </div>
</div>

