 <div class="banner" style="background-image: url('images/bghe1.jpg');">
  <div class="banner-content">
    <h1>health'eat</h1>
    <p>More than a leaf</p>
    <div class="text-center"> <p><a href="#lienverslemenu" class="btn btn-secondary btn-lg"> Commandez</a></p> </div>
  </div>
 </div>



<div class="backgroundicones">
  <div class="vertical-spacer">
    <div class="container alignlogo">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="imageicones"><img src="images/icones/fruitsicone.png" width="115px"></div>
            <div class="paragraphe">
            <p>
              Nos fruits et légumes sont évidemment <strong>frais </strong> et la préparation est maison
            </p>
          </div>
         </div>


        <div class="col-sm-6 col-xs-12">
          <div class="imageicones"><img src="images/icones/place.png" width="96px"></div>
           <div class="paragraphe">
            <p>
            Nous vous livrons tous les midis sous le parvis de <strong>Kedge</strong>
            </p>
          </div>
        </div>

     </div>

    <div id="lowparagraphe">
     <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="imageicones">
            <img src="images/icones/cash.png" width="96px">
          </div>
           <div class="paragraphe">
          <p>
            Pas de monnaie ? Pas de problème, nous non plus, payez avec <strong>Snipcard</strong>. Facile, claire et sécurisé !
          </p>
        </div>
       </div>

        <div class="col-sm-6 col-xs-12">
          <div class="imageicones"><img src="images/icones/bike.png" width="96px"></div>
            <div class="paragraphe">
            <p>
            Commandez avant 11h30 et vos commandes seront <strong>préparées juste à temps</strong> et avec le plus grand soin
           </p>
        </div>
      </div>
   </div>
 </div>
</div>



<!-- bouton lydia -->

<!--     <div id="paymentButton">Payment

    <!-- CREATION DU FORMULAIRE DE PAIMENT LYDIA -->

<!--     <script type="text/javascript">
      $(document).ready(function() {

        // Doit être la référence de la commande chez le marchand.
        var orderRef = new Date();
        $('#paymentButton').payWithLYDIA({
          amount: 0.5,
          vendor_token: '547ed8db34703018097269',
          recipient: '0650939350',

          message : "Facture 004",
          orderRef: orderRef.toString(),
          env: 'test',
          render : '<pre>Payez avec Lydia</pre>'
        });

      });
    </script>
</div> -->
<!-- fin du bouton  -->



 <div class="container">
  <div class="row">
      <div class="text-center padded salades" id ="lienverslemenu">
        <h1> Les salades</h1>

          <ul class="list-inline">
            <div class="col-xs-12 col-sm-6">
            <div class= "demo-3">
             <li>
              <figure>
                <img src="http://placehold.it/200" alt="" class="img-circle"">
                <figcaption>
                 <h2>hello</h2>
                 <p>Coucou toi</p>
                </figcaption>
              </figure>
              <h2>La classique</h2>
             </div>
             <button
    class="snipcart-add-item snipcardbutton"
    data-item-id="2"
    data-item-name="La classique"
    data-item-price="3.00"
    data-item-weight="20"
    data-item-url="http://myapp.com/products/bacon"
    data-item-description="Some fresh salade"> Ajouter
             </button>
            </li>
          </div>


            <div class="col-xs-12 col-sm-6">
            <div class= "demo-3">
             <li>
               <figure>
                <img src="http://placehold.it/200" alt="" class=" img-circle"">
               <figcaption>
               </figcaption>
               </figure>
               <h2>L'originale</h2>
            </div>
            <button
    class="snipcart-add-item snipcardbutton"
    data-item-id="3"
    data-item-name="L'originale"
    data-item-price="3.00"
    data-item-weight="20"
    data-item-url="http://myapp.com/products/bacon"
    data-item-description="Some fresh salade"> Ajouter
           </button>
            </li>
         </ul>
      </div>
</div>
</div>





<div class="container">
  <div class="row">
  <div class="text-center padded smoothies">
    <h1> Les smoothies</h1>
      <ul class="list-inline">
      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
          <figure>
            <img src="images/products/smoothie.jpg" width="400px" alt="" class="img-circle"">
            <figcaption>
            </figcaption>
          </figure>
          <h3>Le mange graisse</h3>
          </div>
        </li>
      </div>

      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
         <figure>
            <img src="http://placehold.it/200" alt="" class=" img-circle"">
            <figcaption>
            </figcaption>
          </figure>
          <h3>Le shotgun</h3>
          </div>
        </li>
      </div>


      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
         <figure>
          <img src="http://placehold.it/200" alt="" class=" img-circle"">
          <figcaption>
          </figcaption>
        </figure>
          <h3>Le body challenge</h3>
          </div>
        </li>
      </div>


      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
        <figure>
          <img src="http://placehold.it/200" alt="" class=" img-circle"">
           <figcaption>
            </figcaption>
          </figure>
          <h3>le nique sa mère l'administration</h3>
        </div>
        </li>
      </div>

    </ul>
  </div>
</div>



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1415.6132690307616!2d-0.6028258463270403!3d44.79657168578018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDQ3JzQ3LjkiTiAwwrAzNicwOC40Ilc!5e0!3m2!1sfr!2sfr!4v1483489082086" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h2>Retrouvez nous ici</h2>



  </div>
</div>

