
<div class="container">
 <div class="banner" style="background-image: url('images/backgroundhe1.jpg');">
  <div class="banner-content">
    <h1>health'eat</h1>
    <p>Mangez frais, mangez bien, mangez sain</p>
    <div class="text-center"> <p><a href="index.html/container" class="btn-treehouse"> Commandez</a></p> </div>
  </div>
 </div>
</div>




<div class="backgroundicones">
  <div class="vertical-spacer">
    <div class="container alignlogo">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="imageicones"><img src="images/icones/fruitsicone.png" width="115px"></div>
            <div class="paragraphe">
            <p>
              Choisissez parmi nos 4 produits phares du moment !
              Nos fruits et légumes sont évidement <strong>frais </strong> et la préparation est maison
            </p>
          </div>
         </div>


        <div class="col-sm-6 col-xs-12">
          <div class="imageicones"><img src="images/icones/place.png" width="96px"></div>
           <div class="paragraphe">
            <p>
            Nous vous livrons tous les midis sous le parvis de <strong>Kedge</strong>, avec la pêche, la banane et la patate !
            </p>
          </div>
        </div>

     </div>

    <div id="lowparagraphe">
     <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="imageicones">
            <img src="images/icones/cash.png" width="96px">
          </div>
           <div class="paragraphe">
          <p>
            Pas de monnaie ? Pas de problème, nous non plus, payez avec <strong>Lydia</strong>. Facile, claire et sécurisé !
          </p>
        </div>
       </div>

        <div class="col-sm-6 col-xs-12">
          <div class="imageicones"><img src="images/icones/bike.png" width="96px"></div>
            <div class="paragraphe">
            <p>
            Commandez avant 11h30 et vos commandes seront <strong>préparées juste à temps</strong> et avec le plus grand soin
           </p>
        </div>
      </div>
   </div>
 </div>
</div>



<!-- bouton lydia -->

    <div id="paymentButton">Payment</div>

    <!-- CREATION DU FORMULAIRE DE PAIMENT LYDIA -->
    <script type="text/javascript">
      $(document).ready(function() {

        // Doit être la référence de la commande chez le marchand.
        var orderRef = new Date();
        $('#paymentButton').payWithLYDIA({
          amount: 0.5,
          vendor_token: '547ed8db34703018097269',
          recipient: '0650939350',

          message : "Facture 004",
          orderRef: orderRef.toString(),
          env: 'test',
          render : '<pre>Payez avec Lydia</pre>'
        });

      });
    </script>

<!-- fin du bouton  -->



 <div class="container">
  <div class="row">
      <div class="text-center padded">
        <h1> Nos salades</h1>

          <ul class="list-inline">
            <div class="col-xs-12 col-sm-6">
            <div class= "demo-3">
             <li>
              <figure>
                <img src="http://placehold.it/200" alt="" class="img-circle"">
                <figcaption>
                 <h2>hello</h2>
                 <p>Coucou toi</p>
                </figcaption>
              </figure>
              <h2>La classique</h2>
             </div>
             <button
    class="snipcart-add-item"
    data-item-id="2"
    data-item-name="La classique"
    data-item-price="3.00"
    data-item-weight="20"
    data-item-url="http://myapp.com/products/bacon"
    data-item-description="Some fresh bacon">
        Ajouter
</button>
            </li>
          </div>


            <div class="col-xs-12 col-sm-6">
            <div class= "demo-3">
             <li>
               <figure>
                <img src="http://placehold.it/200" alt="" class=" img-circle"">
               <figcaption>
               </figcaption>
               </figure>
               <h2>L'originale</h2>
            </div>
            <button
    class="snipcart-add-item"
    data-item-id="2"
    data-item-name="L'orginale"
    data-item-price="3.00"
    data-item-weight="20"
    data-item-url="http://myapp.com/products/bacon"
    data-item-description="Some fresh bacon">
        Ajouter
</button>
            </li>
         </ul>
      </div>







<div class="container">
  <div class="row">
  <div class="text-center padded">
    <h1> Nos smoothies</h1>
      <ul class="list-inline">
      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
          <figure>
            <img src="images/products/smoothie.jpg" width="400px" alt="" class="img-circle"">
            <figcaption>
            </figcaption>
          </figure>
          <h3>Le mange graisse</h3>
          </div>
        </li>
      </div>

      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
         <figure>
            <img src="http://placehold.it/200" alt="" class=" img-circle"">
            <figcaption>
            </figcaption>
          </figure>
          <h3>Le shotgun</h3>
          </div>
        </li>
      </div>


      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
         <figure>
          <img src="http://placehold.it/200" alt="" class=" img-circle"">
          <figcaption>
          </figcaption>
        </figure>
          <h3>Le body challenge</h3>
          </div>
        </li>
      </div>


      <div class="col-xs-12 col-sm-3">
       <div class= "demo-3">
        <li>
        <figure>
          <img src="http://placehold.it/200" alt="" class=" img-circle"">
           <figcaption>
            </figcaption>
          </figure>
          <h3>le nique sa mère l'administration</h3>
        </div>
        </li>
      </div>

    </ul>
  </div>
</div>




 <div class="container">
  <div class="row">
  <div class="text-center padded">
    <h1> L'équipe Health'eat</h1>
      <ul class="list-inline">

            <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-1">
                <div class="ch-info">
                  <h3>Hugo</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-2">
                <div class="ch-info">
                  <h3>Marvin</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-3">
                <div class="ch-info">
                  <h3>Hugo</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-4">
                <div class="ch-info">
                  <h3>Luc</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
      </ul>



  </div>
</div>

