<div class="ml" style="padding-top: 70px;">
<img src="images/logometadonnee.png" alt="Logo Health'eat" class="logometadonnee">
<h2>Mention légales</h2>
 <h3>EDITEUR DU SITE :</h3>

<h4>HEALTH'EAT</h4>
<p>SAS au capital de 100,00 € </p>
<p>RCS Bordeaux n° 824 811 772</p>
<p>Siège social - 2 place Camille Pelletan, 33000 Bordeaux</p>

<h4>DIRECTEUR DE PUBLICATION :</h4>

<p>Le président de la société HEALTH'EAT, joignable au 06.59.78.52.62</p>

<h4>HÉBERGEUR :</h4>

<p>OVH - 140, quai du Sartel à ROUBAIX (59100), joignable au 0 899 701 761</p>

<h4>NUMÉRO DE DÉCLARATION CNIL :</h4>

<p>2028712</p>
</div>
