---
title: Menu : nos salades
---
 <div class="container">
  <div class="row">
      <div class="text-center padded">
        <h1> Nos salades</h1>
          <ul class="list-inline">
          <div class="col-xs-12 col-sm-6">
             <li>
                <img src="http://placehold.it/200" alt="" class="img-circle"">
                <h3>La classique</h3>
              </div>
            </li>
            <div class="col-xs-12 col-sm-6">
             <li>
                <img src="http://placehold.it/200" alt="" class=" img-circle"">
               <h3>L'originale</h3>
            </div>
            </li>
        </ul>
      </div>
     </div>
    </div>
  </div>
</div>

