 <div class="container">
  <div class="row">
  <div class="text-center padded">
    <h1> L'équipe Health'eat</h1>
      <ul class="list-inline">

            <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-1">
                <div class="ch-info">
                  <h3>Hugo</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-2">
                <div class="ch-info">
                  <h3>Marvin</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-3">
                <div class="ch-info">
                  <h3>Hugo</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
          <div class="col-xs-12 col-sm-3">
            <li>
              <div class="ch-item ch-img-4">
                <div class="ch-info">
                  <h3>Luc</h3>
                  <p>health'eat member <a href="https://www.facebook.com/Hugo.TessierHuort">View on facebook</a></p>
                </div>
            </li>
          </div>
      </ul>
